<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "dashboard" class="navbar-brand"}}
        Osper
      {{/link-to}}
    </div>

    <div id="navbar" class="navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to "dashboard" tagName="li" href=false}}
          <a {{bind-attr href="view.href"}}>
            Dashboard
          </a>
        {{/link-to}}

        {{#link-to "transactions" tagName="li" href=false}}
          <a {{bind-attr href="view.href"}}>
            Transactions
          </a>
        {{/link-to}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
